[
    {
        "scope": "https://api.mux.com:443",
        "method": "POST",
        "path": "/video/v1/transcription-vocabularies",
        "body": {
            "name": "Mux Test Vocabulary",
            "phrases": [
                "test",
                "all",
                "the",
                "things"
            ]
        },
        "status": 201,
        "response": {
            "data": {
                "updated_at": "1657553658",
                "phrases": [
                    "test",
                    "all",
                    "the",
                    "things"
                ],
                "name": "Mux Test Vocabulary",
                "id": "402jUwAj8PV2NJd02HEtDJclMEWr3dUe6WSnRsphu8ivg",
                "created_at": "1657553658"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "DELETE",
        "path": "/video/v1/transcription-vocabularies/402jUwAj8PV2NJd02HEtDJclMEWr3dUe6WSnRsphu8ivg",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]