[
    {
        "scope": "https://api.mux.com:443",
        "method": "POST",
        "path": "/video/v1/transcription-vocabularies",
        "body": {
            "name": "Test"
        },
        "status": 201,
        "response": {
            "data": {
                "updated_at": "1657554180",
                "name": "Test",
                "id": "UnpQb91VlJTT9Q2Nsg8XEGldCCY8PBgrThiTJwzCzec",
                "created_at": "1657554180"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "DELETE",
        "path": "/video/v1/transcription-vocabularies/UnpQb91VlJTT9Q2Nsg8XEGldCCY8PBgrThiTJwzCzec",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]