[
    {
        "scope": "https://api.mux.com:443",
        "method": "POST",
        "path": "/video/v1/transcription-vocabularies",
        "body": {
            "name": "Mux Test Vocabulary"
        },
        "status": 201,
        "response": {
            "data": {
                "updated_at": "1657553919",
                "name": "Mux Test Vocabulary",
                "id": "5xtgPLlBsJ3sHKZ2anDn00gzjRqHZilCql1Uyt2sLZuI",
                "created_at": "1657553919"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "GET",
        "path": "/video/v1/transcription-vocabularies/5xtgPLlBsJ3sHKZ2anDn00gzjRqHZilCql1Uyt2sLZuI",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "updated_at": "1657553919",
                "name": "Mux Test Vocabulary",
                "id": "5xtgPLlBsJ3sHKZ2anDn00gzjRqHZilCql1Uyt2sLZuI",
                "created_at": "1657553919"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]