[
    {
        "scope": "https://api.mux.com:443",
        "method": "POST",
        "path": "/video/v1/transcription-vocabularies",
        "body": {
            "name": "Mux Test Vocabulary",
            "phrases": [
                "goinky"
            ]
        },
        "status": 201,
        "response": {
            "data": {
                "updated_at": "1657554988",
                "phrases": [
                    "goinky"
                ],
                "name": "Mux Test Vocabulary",
                "id": "fU5xaF8KCV8FE02sy1fTcJM9XgiBYZPWVdR4X44TB9p4",
                "created_at": "1657554988"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "PUT",
        "path": "/video/v1/transcription-vocabularies/fU5xaF8KCV8FE02sy1fTcJM9XgiBYZPWVdR4X44TB9p4",
        "body": {
            "phrases": [
                "roinky"
            ]
        },
        "status": 200,
        "response": {
            "data": {
                "updated_at": "1657554988",
                "phrases": [
                    "roinky"
                ],
                "id": "fU5xaF8KCV8FE02sy1fTcJM9XgiBYZPWVdR4X44TB9p4",
                "created_at": "1657554988"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
[...]
