[
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/live-streams",
        "body": "",
        "status": 201,
        "response": {
            "data": {
                "stream_key": "7c4247e0-f02d-b3c7-2ab5-0c8ad17e8b8f",
                "status": "idle",
                "reconnect_window": 60,
                "id": "JwBtZKLqZuA01VQW01W875mTR02b2qJ4O01wWu5B015qKM94",
                "created_at": "1592367125"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "delete",
        "path": "/video/v1/live-streams/JwBtZKLqZuA01VQW01W875mTR02b2qJ4O01wWu5B015qKM94",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]