[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": "",
    "status": 201,
    "response": {
      "data": {
        "stream_key": "882b494e-8f37-cb76-e4d6-b3f08b1aed6f",
        "status": "idle",
        "reconnect_window": 60,
        "id": "F2N7nsQ31usHrNyBFbpuJejPBU2smW4KPhD3GMKY1VU",
        "created_at": "1592368942"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams/F2N7nsQ31usHrNyBFbpuJejPBU2smW4KPhD3GMKY1VU/simulcast-targets",
    "body": {
      "url": "rtmp://live.example.com/app",
      "stream_key": "difvbfgi"
    },
    "status": 201,
    "response": {
      "data": {
        "url": "rtmp://live.example.com/app",
        "stream_key": "difvbfgi",
        "status": "idle",
        "id": "6nZxobBjpbFf1vV84Rx6x001vDYVnPtkhh6S5Kheo4uzZlEvNCghWzw"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/live-streams/F2N7nsQ31usHrNyBFbpuJejPBU2smW4KPhD3GMKY1VU",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
