[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": "",
    "status": 201,
    "response": {
      "data": {
        "stream_key": "d293ae94-864e-9955-322f-197e9b39a6c7",
        "status": "idle",
        "reconnect_window": 60,
        "id": "7ya57R9OU01XWWS01pPDqcTG7w00LNBtD6n8B3LDXM8DdM",
        "created_at": "1592368938"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams/7ya57R9OU01XWWS01pPDqcTG7w00LNBtD6n8B3LDXM8DdM/playback-ids",
    "body": {
      "policy": "public"
    },
    "status": 201,
    "response": {
      "data": {
        "policy": "public",
        "id": "Fr4cxDP6Y1WyN500MP8el2tOyUXnMII7M5rcZo4TMBeU"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/live-streams/7ya57R9OU01XWWS01pPDqcTG7w00LNBtD6n8B3LDXM8DdM",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
