[
  {
    "scope": "https://api.mux.com:443",
    "method": "POST",
    "path": "/video/v1/live-streams",
    "body": {
      "latency_mode": "standard"
    },
    "status": 201,
    "response": {
      "data": {
        "stream_key": "fb766a73-4832-73d5-7a52-e57aa7240eac",
        "status": "idle",
        "latency_mode": "standard",
        "id": "bvfUsiVL8JQ3YczWjjtyn02gsQBwyZAi8",
        "created_at": "1631283502"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "DELETE",
    "path": "/video/v1/live-streams/bvfUsiVL8JQ3YczWjjtyn02gsQBwyZAi8",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
