[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": "",
    "status": 201,
    "response": {
      "data": {
        "stream_key": "7fe62dfb-6ff8-d7aa-34e1-4ce462df396c",
        "status": "idle",
        "reconnect_window": 60,
        "id": "goFvrNo00jLJ3IY2kY5Py63XzyiHdxpiXIwyMnq6PIcc",
        "created_at": "1592368929"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/live-streams/goFvrNo00jLJ3IY2kY5Py63XzyiHdxpiXIwyMnq6PIcc",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
