[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": {
      "playback_policy": "public"
    },
    "status": 201,
    "response": {
      "data": {
        "stream_key": "0296cd22-815c-aaf2-13a4-3344cd85edd1",
        "status": "idle",
        "reconnect_window": 60,
        "playback_ids": [
          {
            "policy": "public",
            "id": "yKETGxhjiqB81HKc00rNXhZxNe5ds6E4Qax3pEuAmB01o"
          }
        ],
        "id": "pTrQxn5qWmQ5qDUVUax417z5JcH1d5PfYeVBhvaBfLg",
        "created_at": "1592369559"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams/pTrQxn5qWmQ5qDUVUax417z5JcH1d5PfYeVBhvaBfLg/playback-ids",
    "body": {
      "policy": "public"
    },
    "status": 201,
    "response": {
      "data": {
        "policy": "public",
        "id": "iKus2TvZ7BFDwEwrP11lcJBh30201OEHIf013ymMZY1I01c"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/live-streams/pTrQxn5qWmQ5qDUVUax417z5JcH1d5PfYeVBhvaBfLg/playback-ids/iKus2TvZ7BFDwEwrP11lcJBh30201OEHIf013ymMZY1I01c",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/video/v1/live-streams/pTrQxn5qWmQ5qDUVUax417z5JcH1d5PfYeVBhvaBfLg",
    "body": "",
    "status": 200,
    "response": {
      "data": {
        "stream_key": "0296cd22-815c-aaf2-13a4-3344cd85edd1",
        "status": "idle",
        "reconnect_window": 60,
        "playback_ids": [
          {
            "policy": "public",
            "id": "yKETGxhjiqB81HKc00rNXhZxNe5ds6E4Qax3pEuAmB01o"
          }
        ],
        "id": "pTrQxn5qWmQ5qDUVUax417z5JcH1d5PfYeVBhvaBfLg",
        "created_at": "1592369559"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
[...]
