[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": "",
    "status": 201,
    "response": {
      "data": {
        "stream_key": "69645ab6-82cc-c1bc-30d9-ade4a36a54f9",
        "status": "idle",
        "reconnect_window": 60,
        "id": "uB52LpOGsqXFOUf2Q3n6B6o01bK01yJGMj",
        "created_at": "1605732570"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "put",
    "path": "/video/v1/live-streams/uB52LpOGsqXFOUf2Q3n6B6o01bK01yJGMj/disable",
    "body": "",
    "status": 200,
    "response": {
      "data": {}
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
