[
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/live-streams",
        "body": "",
        "status": 201,
        "response": {
            "data": {
                "stream_key": "fc5574e0-e152-afd7-5c8e-143a4ec8ef9f",
                "status": "idle",
                "reconnect_window": 60,
                "id": "hRg1701uNgyXH2Nn2zDgQq68QRUSnAt9u",
                "created_at": "1605732233"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "put",
        "path": "/video/v1/live-streams/hRg1701uNgyXH2Nn2zDgQq68QRUSnAt9u/enable",
        "body": "",
        "status": 200,
        "response": {
            "data": {}
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]