[
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/live-streams",
        "body": "",
        "status": 201,
        "response": {
            "data": {
                "stream_key": "aa08e98f-8f37-d080-3a56-fcbede83f8e5",
                "status": "idle",
                "reconnect_window": 60,
                "id": "o00uAyztaReIgPjtkyth02nydO3xhhAJgfbEC5WYWsjG4",
                "created_at": "1592368931"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/video/v1/live-streams/o00uAyztaReIgPjtkyth02nydO3xhhAJgfbEC5WYWsjG4",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "stream_key": "aa08e98f-8f37-d080-3a56-fcbede83f8e5",
                "status": "idle",
                "reconnect_window": 60,
                "id": "o00uAyztaReIgPjtkyth02nydO3xhhAJgfbEC5WYWsjG4",
                "created_at": "1592368931"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]