[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/video/v1/live-streams?limit=5",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "stream_key": "aa08e98f-8f37-d080-3a56-fcbede83f8e5",
          "status": "idle",
          "reconnect_window": 60,
          "id": "o00uAyztaReIgPjtkyth02nydO3xhhAJgfbEC5WYWsjG4",
          "created_at": "1592368931"
        },
        {
          "stream_key": "09f554f9-2cc6-c881-cce2-c2ecd1faedd2",
          "status": "idle",
          "reconnect_window": 60,
          "playback_ids": [
            {
              "policy": "signed",
              "id": "IkM3Du01X3CZ0101pHhMrvGqQVQKxj3zzG2fDebA8amtMw"
            }
          ],
          "new_asset_settings": {
            "playback_policies": ["signed"]
          },
          "id": "hojSxQOnIJc26CCqRCZZTjUkJRtQvWwA8lwnUIAlNZs",
          "created_at": "1592355491"
        },
        {
          "stream_key": "a8e27d58-6343-585e-10d4-a7e25bbce2a2",
          "status": "idle",
          "reconnect_window": 60,
          "id": "01ECXoJyAfvmipj4CehHSa8GwwTegVJFWldPNofiFt7k",
          "created_at": "1592355490"
        },
        {
          "stream_key": "b9201ec3-9ad4-91f1-473f-9349277687dc",
          "status": "idle",
          "simulcast_targets": [
            {
              "url": "rtmp://live.example.com/app",
              "stream_key": "difvbfgi",
              "status": "idle",
              "id": "yZj891TUQbu3ZBos1kdPZZP01z74eULl00PRfLnOdC01YpEyuiR5DZOaQ"
            }
          ],
          "reconnect_window": 60,
          "id": "V00sMcNvBzJxUC6ki9bRuomTb2lr5Ut2LiByuMaIz802E",
          "created_at": "1592355489"
        },
        {
          "stream_key": "5e433ff3-cede-ed09-f5ee-0d8fd23a3225",
          "status": "idle",
          "reconnect_window": 60,
          "id": "5u1NTdNFH6q1qCBz4q8byy72fL2uDFTQG6uB5rcT0128",
          "created_at": "1592355412"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
