[
    {
        "scope": "https://api.mux.com:443",
        "method": "put",
        "path": "/video/v1/live-streams/somefakeid/complete",
        "body": "",
        "status": 400,
        "response": {
            "error": {
                "type": "invalid_parameters",
                "messages": [
                    "Invalid live stream id, failed to parse"
                ]
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]