[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/live-streams",
    "body": "",
    "status": 201,
    "response": {
      "data": {
        "stream_key": "ec99a497-1aeb-7882-dab6-812d1aa0a79b",
        "status": "idle",
        "reconnect_window": 60,
        "id": "LV01mZznDnrbAEgGHgdk25Vz0001ralKFHXArhHPgjjCTk",
        "created_at": "1592368932"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "PATCH",
    "path": "/video/v1/live-streams/LV01mZznDnrbAEgGHgdk25Vz0001ralKFHXArhHPgjjCTk",
    "body": {
      "reconnect_window": 120
    },
    "status": 200,
    "response": {
      "data": {
        "stream_key": "ec99a497-1aeb-7882-dab6-812d1aa0a79b",
        "status": "idle",
        "reconnect_window": 120,
        "id": "LV01mZznDnrbAEgGHgdk25Vz0001ralKFHXArhHPgjjCTk",
        "created_at": "1592368932"
      }
    },
    "rawHeaders": [
    ],
    "responseIsBinary": false
  },
[...]
