.prism.log
node_modules
yarn-error.log
codegen.log
Brewfile.lock.json
dist
dist-deno
/*.tgz
.idea/
.DS_Store

packages/mcp-server/dxt/dist
packages/mcp-server/dxt/package.json
packages/mcp-server/dxt/mux.dxt
packages/mcp-server/dxt/LICENSE
.vercel
