#docs
docs
manual
github-nodejs-sdk.png

#test
test

#assets
src/assets
node_modules

#private files
.env
.gitignore
.eslintrc.json
.nvmrc
.prettierrc.js

#ide configs
.idea
.editorconfig

#linters
.eslintrc*
