[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/data/v1/realtime/dimensions",
        "body": "",
        "status": 200,
        "response": {
            "total_row_count": null,
            "timeframe": [
                1592270604,
                1592357004
            ],
            "data": [
                {
                    "name": "asn",
                    "display_name": "ASN"
                },
                {
                    "name": "cdn",
                    "display_name": "CDN"
                },
                {
                    "name": "country",
                    "display_name": "Country"
                },
                {
                    "name": "operating_system",
                    "display_name": "Operating system"
                },
                {
                    "name": "player_name",
                    "display_name": "Player name"
                },
                {
                    "name": "region",
                    "display_name": "Region / State"
                },
                {
                    "name": "stream_type",
                    "display_name": "Stream type"
                },
                {
                    "name": "sub_property_id",
                    "display_name": "Sub property ID"
                },
                {
                    "name": "video_series",
                    "display_name": "Video series"
                },
                {
                    "name": "video_title",
                    "display_name": "Video title"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]