[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/realtime/metrics",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": null,
      "timeframe": [1592270604, 1592357004],
      "data": [
        {
          "name": "current-average-bitrate",
          "display_name": "Current Average Bitrate"
        },
        {
          "name": "current-concurrent-viewers",
          "display_name": "Current Concurrent Viewers (CCV)"
        },
        {
          "name": "current-rebuffering-percentage",
          "display_name": "Current Rebuffering Percentage"
        },
        {
          "name": "exits-before-video-start",
          "display_name": "Exits Before Video Start"
        },
        {
          "name": "playback-failure-percentage",
          "display_name": "Playback Failure Percentage"
        },
        {
          "name": "video-startup-time",
          "display_name": "Video Startup Time"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
