[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/data/v1/exports",
        "body": "",
        "status": 200,
        "response": {
            "total_row_count": 8,
            "timeframe": [
                1592270211,
                1592356611
            ],
            "data": [
                "https://s3.amazonaws.com/mux-data-exports/18922/2020_06_08.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5IBEINA6ULJUMEBA%2F20200617%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200617T011651Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=e291fddfcee75e71a38685df82c04e3813c688a467b352557f26daa3d9248f4f",
                "https://s3.amazonaws.com/mux-data-exports/18922/2020_06_09.csv.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5IBEINA6[...]
