[
  {
    "scope": "https://api.mux.com:443",
    "method": "POST",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4",
      "playback_policy": "public"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "playback_ids": [
          {
            "policy": "public",
            "id": "MiiRylJq7QaA2O8y2FDH02KNb5CDUBxet5hnS01GajtI4"
          }
        ],
        "mp4_support": "none",
        "master_access": "none",
        "id": "xI1vAOY5HB4pXFZAcrg2MaF02enifZ00MQrgdYvK4E2Ok",
        "created_at": "1617203212"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "GET",
    "path": "/video/v1/playback-ids/MiiRylJq7QaA2O8y2FDH02KNb5CDUBxet5hnS01GajtI4",
    "body": "",
    "status": 200,
    "response": {
      "data": {
        "policy": "public",
        "object": {
          "type": "asset",
          "id": "xI1vAOY5HB4pXFZAcrg2MaF02enifZ00MQrgdYvK4E2Ok"
        },
        "id": "MiiRylJq7QaA2O8y2FDH02KNb5CDUBxet5hnS01GajtI4"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "DELETE",
    "path": "/video/v1/assets/xI1vAOY5HB4pXFZAcrg2MaF02enifZ00MQrgdYvK4E2Ok",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
