[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/metrics/aggregate_startup_time/breakdown?group_by=browser",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": 1,
      "timeframe": [1592270406, 1592356806],
      "data": [
        {
          "views": 2,
          "value": 1287.015625,
          "total_watch_time": 0,
          "negative_impact": "1",
          "field": "Safari"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
