[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/metrics/comparison?value=Safari&dimension=browser",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": null,
      "timeframe": [1592270407, 1592356807],
      "data": [
        {
          "watch_time": 49017,
          "view_count": 4,
          "name": "totals"
        },
        {
          "value": 0.7399064600467682,
          "type": "score",
          "name": "Overall Score",
          "metric": "viewer_experience_score"
        },
        {
          "value": 0.75,
          "type": "score",
          "name": "Playback Failure Score",
          "metric": "playback_failure_score",
          "items": [
            {
              "value": 0.25,
              "type": "percentage",
              "name": "Playback Failure Percentage",
              "metric": "playback_failure_percentage"
            }
          ]
        },
        {
          "value": 0.9414866864681244,
          "type": "score",
          "name": "Startup Time Score",
          "metric": "startup_time_score",
          "items": [
            {
              "value": 625,
              "type": "milliseconds",
              "name": "Video Startup Time (median)",
              "metric": "video_startup_time",
              "measurement": "median"
            },
            {
              "value": 625,
              "type": "milliseconds",
              "name": "Video Startup Time (95th %)",
              "metric": "video_startup_time",
              "measurement": "95th"
            },
            {
              "value": 274.31640625,
              "type": "milliseconds",
              "name": "Player Startup Time (median)",
              "metric": "player_startup_time",
              "measurement": "median"
            },
  [...]
