[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/data/v1/metrics/video_startup_time/insights",
        "body": "",
        "status": 200,
        "response": {
            "total_row_count": 13,
            "timeframe": [
                1592270408,
                1592356808
            ],
            "data": [
                {
                    "total_watch_time": 49017,
                    "total_views": "2",
                    "negative_impact_score": 0,
                    "metric": 625,
                    "filter_value": "US",
                    "filter_column": "country"
                },
                {
                    "total_watch_time": 49017,
                    "total_views": "2",
                    "negative_impact_score": 0,
                    "metric": 625,
                    "filter_value": "Video.js",
                    "filter_column": "player_name"
                },
                {
                    "total_watch_time": 49017,
                    "total_views": "2",
                    "negative_impact_score": 0,
           [...]
