[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/data/v1/metrics/video_startup_time/overall",
        "body": "",
        "status": 200,
        "response": {
            "total_row_count": null,
            "timeframe": [
                1592270410,
                1592356810
            ],
            "data": {
                "value": 625,
                "total_watch_time": 49017,
                "total_views": "2",
                "global_value": 1169.1832095168065
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]