[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/metrics/video_startup_time/timeseries",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": 25,
      "timeframe": [1592270410, 1592356810],
      "data": [
        ["2020-06-16T01:00:00Z", null, null],
        ["2020-06-16T02:00:00Z", null, null],
        ["2020-06-16T03:00:00Z", null, null],
        ["2020-06-16T04:00:00Z", null, null],
        ["2020-06-16T05:00:00Z", null, null],
        ["2020-06-16T06:00:00Z", 625, 1],
        ["2020-06-16T07:00:00Z", null, null],
        ["2020-06-16T08:00:00Z", null, null],
        ["2020-06-16T09:00:00Z", null, null],
        ["2020-06-16T10:00:00Z", null, null],
        ["2020-06-16T11:00:00Z", null, null],
        ["2020-06-16T12:00:00Z", null, null],
        ["2020-06-16T13:00:00Z", null, null],
        ["2020-06-16T14:00:00Z", null, null],
        ["2020-06-16T15:00:00Z", null, null],
        ["2020-06-16T16:00:00Z", null, null],
        ["2020-06-16T17:00:00Z", null, null],
        ["2020-06-16T18:00:00Z", 324, 1],
        ["2020-06-16T19:00:00Z", null, null],
        ["2020-06-16T20:00:00Z", null, null],
        ["2020-06-16T21:00:00Z", null, null],
        ["2020-06-16T22:00:00Z", null, null],
        ["2020-06-16T23:00:00Z", null, null],
        ["2020-06-17T00:00:00Z", null, null],
        ["2020-06-17T01:00:00Z", null, null]
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
