[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "dePV5taIHZGzUk63UtIkL4A6IKMggU8srLWzxcHwoM4",
        "created_at": "1592366924"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets/dePV5taIHZGzUk63UtIkL4A6IKMggU8srLWzxcHwoM4/playback-ids",
    "body": {
      "policy": "public"
    },
    "status": 201,
    "response": {
      "data": {
        "policy": "public",
        "id": "Ahp5z1ZwioxvaELj3wAGNYCMAB00dArgC85018ofu7zrE"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/assets/dePV5taIHZGzUk63UtIkL4A6IKMggU8srLWzxcHwoM4",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
