[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "lv02Yz0100s302p9kSc00qcB9odiif402Lz00qLx02mPw9At8y00",
        "created_at": "1592366925"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/assets/lv02Yz0100s302p9kSc00qcB9odiif402Lz00qLx02mPw9At8y00",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
