[
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/assets",
        "body": {
            "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
        },
        "status": 201,
        "response": {
            "data": {
                "status": "preparing",
                "mp4_support": "none",
                "master_access": "none",
                "id": "LlwaI4F8ks02iCLqukiH4p1Zzh36Zrmk02qw102IjH1EwI",
                "created_at": "1592366928"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "delete",
        "path": "/video/v1/assets/LlwaI4F8ks02iCLqukiH4p1Zzh36Zrmk02qw102IjH1EwI",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]