[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "CPd701nzPPbeFPLMx3oVTW8L01JvUid4nhwtjF5HgRRqI",
        "created_at": "1592366918"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/video/v1/assets/CPd701nzPPbeFPLMx3oVTW8L01JvUid4nhwtjF5HgRRqI",
    "body": "",
    "status": 200,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "CPd701nzPPbeFPLMx3oVTW8L01JvUid4nhwtjF5HgRRqI",
        "created_at": "1592366918"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
[...]
