[
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/assets",
        "body": {
            "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
        },
        "status": 201,
        "response": {
            "data": {
                "status": "preparing",
                "mp4_support": "none",
                "master_access": "none",
                "id": "wG33uczJjtiimDSRKkERDFtIhjsZnDnFcOUhXCeyVBM",
                "created_at": "1592366926"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "post",
        "path": "/video/v1/assets/wG33uczJjtiimDSRKkERDFtIhjsZnDnFcOUhXCeyVBM/playback-ids",
        "body": {
            "policy": "public"
        },
        "status": 201,
        "response": {
            "data": {
                "policy": "public",
                "id": "afTE0156mKfSgu44x4Wra8XMav11fYyyEXJ1qLAJ1vYU"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/video/v1/assets/wG33uczJjtiimDSRKkERDFtIhjsZnDnFcOUhXCeyVBM/playback-ids/afTE0156mKfSgu44x4Wra8XMav11fYyyEXJ1qLAJ1vYU",
        "body": "",
        "status": 200,
        "response": {
            "data": {
                "policy": "public",
                "id": "afTE0156mKfSgu44x4Wra8XMav11fYyyEXJ1qLAJ1vYU"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    },
    {
        "scope": "https://api.mux.com:443",
        "method": "delete",
        "path": "/video/v1/assets/wG33uczJjtiimDSRKkERDFtIhjsZnDnFcOUhXCeyVBM",
        "body": "",
        "status": 204,
        "response": "",
        "rawHeaders": [
        ],
        "responseIsBinary": false
    }
]