[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/video/v1/assets?limit=5",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "tracks": [
                        {
                            "type": "video",
                            "max_width": 1920,
                            "max_height": 1080,
                            "max_frame_rate": 29.97,
                            "id": "1dUwV9ij9gDuSPDawuJUcK3Sok01vlOZ6fI7vp4pUM78",
                            "duration": 23.8238
                        },
                        {
                            "type": "audio",
                            "max_channels": 2,
                            "max_channel_layout": "stereo",
                            "id": "dDO600WcSICbJ8cCJ3myxDio02xbRlCAMpVzUZaTl01Wbs",
                            "duration": 23.823792
                        }
                    ],
                    "status": "ready",
                    "mp4_support": "none",
                    "max_stored_resolution": "HD",
                    "max_stored_frame_rate": 29.97,
                    "master_access": "none",
                    "id": "mlezvcG4Dj00Z7o4DAQgjyk1PycFmIR4cjQvu00MDvZ4E",
                    "duration": 23.857167,
                    "created_at": "1592366630",
                    "aspect_ratio": "16:9"
                },
                {
                    "tracks": [
                        {
                            "type": "video",
                            "max_width": 1920,
                            "max_height": 1080,
                            "max_frame_rate": 29.97,
                            "id": "bKWQbx9rdzIkv00oxvA00I4efuC2Q01c02tb2kVIl01ecqUg",
                            "duration": 23.8238
                        },
                        {
                 [...]
