[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "TdGISyfUN02nYCgOokJysDgW00CZnpQpHCZ9pk24Awag4",
        "created_at": "1592366929"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "put",
    "path": "/video/v1/assets/TdGISyfUN02nYCgOokJysDgW00CZnpQpHCZ9pk24Awag4/mp4-support",
    "body": {
      "mp4_support": "standard"
    },
    "status": 412,
    "response": {
      "error": {
        "type": "failed_request",
        "messages": ["Asset is not ready"]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/assets/TdGISyfUN02nYCgOokJysDgW00CZnpQpHCZ9pk24Awag4",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
