[
  {
    "scope": "https://api.mux.com:443",
    "method": "post",
    "path": "/video/v1/assets",
    "body": {
      "input": "https://storage.googleapis.com/muxdemofiles/mux-video-intro.mp4"
    },
    "status": 201,
    "response": {
      "data": {
        "status": "preparing",
        "mp4_support": "none",
        "master_access": "none",
        "id": "n8ZnD00XyPVj4jXUh4Pu4mhKuKYLUPBJNm7PMU7TzIY00",
        "created_at": "1592366931"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "put",
    "path": "/video/v1/assets/n8ZnD00XyPVj4jXUh4Pu4mhKuKYLUPBJNm7PMU7TzIY00/master-access",
    "body": {
      "master_access": "temporary"
    },
    "status": 412,
    "response": {
      "error": {
        "type": "failed_request",
        "messages": ["Asset is not ready"]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.mux.com:443",
    "method": "delete",
    "path": "/video/v1/assets/n8ZnD00XyPVj4jXUh4Pu4mhKuKYLUPBJNm7PMU7TzIY00",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ],
    "responseIsBinary": false
  }
]
