[
    {
        "scope": "https://api.mux.com:443",
        "method": "get",
        "path": "/data/v1/errors?filters[]=operating_system:linux",
        "body": "",
        "status": 200,
        "response": {
            "total_row_count": null,
            "timeframe": [
                1592270171,
                1592356571
            ],
            "data": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8"
        ],
        "responseIsBinary": false
    }
]