[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/monitoring/metrics/playback-failure-percentage/breakdown?dimension=asn&timestamp=1592357452&filters[]=operating_system:windows&filters[]=country:US",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": null,
      "timeframe": [1592357452, 1592357452],
      "data": []
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
