[
  {
    "scope": "https://api.mux.com:443",
    "method": "GET",
    "path": "/video/v1/uploads",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "timeout": 3600,
          "status": "timed_out",
          "new_asset_settings": {
            "playback_policies": ["public"]
          },
          "id": "5b91vOfoRAl1awg3LrvPWJSYtiMd95C2eOTAdzmJJRA",
          "cors_origin": "*"
        },
        {
          "timeout": 3600,
          "status": "asset_created",
          "new_asset_settings": {
            "playback_policies": ["public"]
          },
          "id": "d0259OvTJVO2GL1PlXr9nUacyP4yUD00LTIVj702LK91ds",
          "cors_origin": "*",
          "asset_id": "HFMfrJWrPlrqOe1oOyYRNLtCRRQypcVBROOYubor01wY"
        },
        {
          "timeout": 3600,
          "status": "timed_out",
          "new_asset_settings": {
            "playback_policies": ["public"]
          },
          "id": "3WXBywXXQs023gFzYZu023WLBYvBA9018z96ZAVxncJGSw",
          "cors_origin": "*"
        },
        {
          "timeout": 3600,
          "status": "asset_created",
          "new_asset_settings": {
            "playback_policies": ["public"]
          },
         [...]
