[
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/video-views",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": 4,
      "timeframe": [1592270735, 1592357135],
      "data": [
        {
          "viewer_os_family": "Linux",
          "viewer_application_name": "Safari",
          "view_start": "2020-06-16T18:10:39Z",
          "view_end": "2020-06-16T18:10:39Z",
          "video_title": "Sad Path Test Content",
          "total_row_count": 4,
          "player_error_message": null,
          "player_error_code": null,
          "id": "JpLmleMhzZ43w8HLgycd2VI5Zjha14mJA0mz",
          "error_type_id": null,
          "country_code": "US"
        },
        {
          "viewer_os_family": "Linux",
          "viewer_application_name": "Safari",
          "view_start": "2020-06-16T18:10:11Z",
          "view_end": "2020-06-16T18:10:38Z",
          "video_title": "Happy Path Test Content",
          "total_row_count": 4,
          "player_error_message": null,
          "player_error_code": null,
          "id": "aPwqE8xCJYb4aIY7bu37ncD0YIJKwRjV4gd",
          "error_type_id": null,
          "country_code": "US"
        },
  [...]
  {
    "scope": "https://api.mux.com:443",
    "method": "get",
    "path": "/data/v1/video-views/JpLmleMhzZ43w8HLgycd2VI5Zjha14mJA0mz",
    "body": "",
    "status": 200,
    "response": {
      "total_row_count": null,
      "timeframe": [1592270735, 1592357135],
      "data": {
        "player_source_domain": "mux.com",
        "video_language": null,
        "latitude": "36.6",
        "player_width": 600,
        "id": "f8d9af57-a091-4b5f-b759-c968d6e7f351",
        "page_url": "file:///github/workspace/player/watch-this.html",
        "buffering_count": null,
        "asn_name": "MICROSOFT-CORP-MSN-AS-BLOCK (AS8075)",
        "view_average_request_latency": null,
        "viewer_os_architecture": "64",
        "viewer_application_engine": "WebKit",
        "preroll_requested": false,
        "player_height": 338,
        "property_id": 18922,
        "player_source_height": 0,
        "preroll_played": false,
        "player_source_duration": 0,
        "playback_score": "1",
        "platform_description": null,
        "updated_at": "2020-06-16T18:10:39Z",
        "view_average_request_throughput": null,
        "view_total_content_playback_time": null,
        "viewer_experience_score": "1",
        "player_preload": true,
        "view_end": "2020-06-16T18:10:39Z",
        "asn": 8075,
        "video_content_type": null,
        "video_variant_id": null,
        "player_error_message": null,
        "city": "Boydton",
        "view_total_downscaling": null,
        "viewer_application_name": "Safari",
        "player_source_url": "https://this-does-not-exist.mux.com/",
        "video_id": "custom",
        "player_autoplay": false,
        "player_software": "Video.js",
        "player_mux_plugin_version": "2.5.2",
        "video_startup_preroll_load_time": null,
        "buffering_duration": null,
        "view_max_request_latency": null,
        "view_max_downscale_percentage": null,
        "viewer_os_family": "Linux",
        "player_source_width": 0,
        "player_source_stream_type": null,
        "view_seek_count": null,
        "weighted_average_bitrate": null,
        "viewer_device_category": null,
        "isp": null,
        "requests_for_first_preroll": null,
        "platform_summary": "Safari on Linux",
        "player_load_time": null,
        "view_seek_duration": null,
        "events": [
          {
            "viewer_time": 1592331039027,
            "playback_time": 0,
            "name": "playerready",
            "event_time": 1592331039057
          },
          {
            "viewer_time": 1592331039031,
            "playback_time": 0,
            "name": "loadstart",
            "event_time": 1592331039057
          },
          {
            "viewer_time": 1592331039037,
            "playback_time": 0,
            "name": "viewstart",
            "event_time": 1592331039057
          },
          {
            "viewer_time": 1592331039057,
            "playback_time": 0,
            "name": "viewdropped",
            "event_time": 1592331039057
          }
        ],
        "video_producer": null,
        "country_code": "US",
        "preroll_ad_asset_hostname": null,
        "page_load_time": 126,
        "page_type": null,
        "continent_code": "NA",
        "buffering_rate": null,
        "country_name": "United States",
        "player_source_type": "application/x-mpegURL",
        "view_total_upscaling": null,
        "video_encoding_variant": null,
        "video_series": null,
        "short_time": " 6:10pm Etc/UTC 2020-06-16",
        "preroll_ad_tag_hostname": null,
        "experiment_name": null,
        "player_error_code": null,
        "rebuffer_percentage": null,
        "used_fullscreen": false,
        "mux_embed_version": "2.8.0",
        "rebuffering_score": "1",
        "viewer_device_manufacturer": null,
        "mux_viewer_id": "026213f0-1b79-4fd8-8f75-42ffc301ad53",
        "player_startup_time": 227,
        "viewer_os_version": null,
        "cdn": null,
        "view_start": "2020-06-16T18:10:39Z",
        "quality_score": null,
        "mux_api_version": "2.1",
        "video_stream_type": null,
        "watched": true,
        "player_language": "en",
        "view_id": "529bf5b9-e5bb-421b-a43a-58fcda50c2fe",
        "player_name": "Video.js",
        "longitude": "-78.4",
        "viewer_application_version": "7.x",
        "view_error_id": null,
        "player_software_version": "7.6.6",
        "video_variant_name": null,
        "viewer_user_agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/83.0.4103.106 Safari/537.36",
        "session_id": "7e6471e8-5b5d-4bcb-b209-4f10a5b6a981",
        "player_version": "7.6.6",
        "player_instance_id": "b0e1df54-9330-4081-8a3e-47ccf1a629ac",
        "video_startup_preroll_request_time": null,
        "exit_before_video_start": false,
        "startup_score": null,
        "error_type_id": null,
        "region": "Virginia",
        "viewer_user_id": "fake-viewer",
        "player_source_host_name": "this-does-not-exist.mux.com",
        "inserted_at": "2020-06-16T18:10:39Z",
        "view_max_upscale_percentage": null,
        "video_title": "Sad Path Test Content",
        "watch_time": 0,
        "viewer_device_name": null,
        "player_view_count": 1,
        "video_duration": null,
        "player_poster": null,
        "time_to_first_frame": null,
        "metro": null
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8"
    ],
    "responseIsBinary": false
  }
]
